.main-title { 
    text-align: center;
}

.jumbo-style {
    text-align: center;
}

.panel-title {
    text-align: center;
}


.wordToGuess {
    text-align: center;
}

.panel-body {
    text-align: center;
}